<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="auth">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/identificaciones">I N E
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/comprobantes">COMPROBANTES</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/nss">N.S.S.</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/tarjetas">TARJETAS</a>
      </li>
    </ul>
      <ul class="navbar-nav justify-content-end" *ngIf="!auth">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/login">ENTRAR
            <span class="glyphicon glyphicon-log-out"></span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end" *ngIf="!auth">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/registro">REGISTRAR</a>
        </li>
      </ul>

      <ul class="navbar-nav justify-content-end" *ngIf="auth">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/cuenta-panel">Mis datos</a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end" *ngIf="auth">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" (click)="logOut()" href>Salir</a>
            </li>
          </ul>

  </div>
</nav>