<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <form>
        <div class="form-row">
          <div class="col-sm-8" >
            <p>Capture Image: <input (change)="fileChangeEvent($event)" matTooltip="SELECCIONAR FOTOGRAFÍA!" type="file" accept="image/*" id="capture" capture="camera"> 
            </p>
          </div>
          <!--div class="col-sm-4">
            <button mat-button (click)="onRead()" matTooltip="LEER DATOS DE LA IMAGEN!" color="primary">Leer datos</button>
          </div-->
        </div>
        <div class="form-row">
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="México" [(ngModel)]="nss" [formControl]="validControl" [errorStateMatcher]="matcher">
              <mat-hint>Nss</mat-hint>
              <mat-error *ngIf="validControl.hasError('required')">
                Número de seguro social
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>