@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.jumbotron{
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #ccc;
}

.navbar-nav .active {
    border-bottom: 3px solid red;
}

