<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-12">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Codigo postal</label>
          <input type="text" class="form-control" placeholder="10100">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Estado</label>
          <input type="text" class="form-control" placeholder="México">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Municipio</label>
          <input type="text" class="form-control" placeholder="Ecatepec de Morelos">
        </div>
        <div class="form-group col-md-6">
          <label for="inputState">Colonias</label>
          <select class="form-control">
            <option selected>Seleccionar...</option>
            <option>....</option>
          </select>
        </div>
      </div>
    <button type="submit" class="btn btn-light">Upload</button>
  </form>
  </div>
</div>

</div>
